/* Reset */
@import 'tailwindcss/base';
@import 'reset';

/* Components */
@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

/* Utilities */
@import 'tailwindcss/utilities';

.background-image {
    background-image: url('/dentist-medical-background-with-3d-tooth-design_1017-26095.avif');
    background-size: cover;
    background-repeat: no-repeat;
}